.search-result__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1A1B22;
    padding-bottom: 64px;
}

@media screen and (max-width: 375px) {
    .search-result__header {
        flex-direction: column;
        padding-bottom: 36px;
        align-items: start;
    }
}