.header__logo {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 0 104px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin: 22px 0 0 40px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 375px) {
    .header__logo {
        margin: 16px 0 0 16px;
    }
}