.search__form-item {
    position: relative;
    width: 100%;
}

@media screen and (max-width: 490px) {
    .search__form-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}