.about-me__photo {
    width: 464px;
    height: 464px;
    border-radius: 50%;
}

@media screen and (max-width: 1100px) {
    .about-me__photo {
        width: 350px;
        height: 350px;
    }
}
 
@media screen and (max-width: 900px) {
    .about-me__photo {
        width: 232px;
        height: 232px;
    }
}

@media screen and (max-width: 700px) {
    .about-me__photo {
        width: 272px;
        height: 272px;
    }
}