.about-me__photo {
    width: 464px;
    height: 464px;
}

@media screen and (max-width: 768px) {
    .about-me__photo {
        width: 232px;
        height: 232px;
    }
}

@media screen and (max-width: 320px) {
    .about-me__photo {
        width: 272px;
        height: 272px;
    }
}