.search__label {
    display: block;
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    width: 545px;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
    .search__label {
        width: 452px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 490px) {
    .search__label {
        width: 285px;
        margin: 0 0 64px;
        font-size: 20px;
        line-height: 26px;
    }
}