.search-result__link {
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 8px;
    margin-top: 6px;
}

.search-result__link .tick {
    margin-left: 5px;
}