.footer__copyright {
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0;
}

@media screen and (max-width: 730px) {
    .footer__copyright {
        order: 3;
        margin-top: 40px;
        min-width: 300px;
    }
}