.commits__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
}

@media screen and (max-width: 768px) {
    .commits__img {
        width: 48px;
        height: 48px;
    }
}