@import "./__container/search__container.css";
@import "./__title/search__title.css";
@import "./__label/search__label.css";
@import "./__form-item/search__form-item.css";
@import "./__input/search__input.css";
@import "./__button/search__button.css";
@import "./__error/search__error.css";

.search {
    background-image: url('../../images/search_background.jpg');
    height: auto;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .search {
        height: auto;
    }
}