@import "./__img/card__img.css";
@import "./__content/card__content.css";
@import "./__date/card__date.css";
@import "./__title/card__title.css";
@import "./__paragraph/card__paragraph.css";
@import "./__link-container/card__link-container.css";
@import "./__link/card__link.css";

.card {
    width: 400px;
    height: 576px;
    border-radius: 16px;
    background: #FFF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}