.commits__link {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    margin: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.commits__link span {
    margin-left: 10px;
}

@media screen and (max-width: 375px) {
    .commits__link {
        display: none;
    }
}