@import "./__title/stack__title.css";
@import "./__content/stack__content.css";
@import "./__tech/stack__tech.css";
@import "./__items/stack__items.css";
@import "./__item/stack__item.css";

@keyframes snake {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-40px);
    }
}

.stack:hover .animated {
    animation-name:snake;
    animation-duration: .6s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.delay-250 {
    animation-delay: 250ms;
}

.delay-500 {
    animation-delay: 500ms;
}

.delay-750 {
    animation-delay: 750ms;
}

.delay-1000 {
    animation-delay: 1000ms;
}

.stack {
    min-height: 334px;
    background: #F5F6F7;
    display: flex;
    justify-content: space-between;
    padding: 80px 104px;
    box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
    .stack {
        padding: 40px 40px 50px;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .stack {
        padding: 20px 16px 45px;
        flex-wrap: wrap;
        height: auto;
    }
}