.commits__name {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .commits__name {
        font-size: 20px;
    }
}