.commits__slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 2080px;
    margin-left: -22.5%;
}

@media screen and (max-width: 375px) {
    .commits__slider {
        margin-left: -210%;
    }
}