.commits__slider {
    display: flex;
    justify-content: center;
    /*height: 356px;*/
    width: 100%;
    height: 288px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .commits__slider {
        height: 295px;
    }
}

@media screen and (max-width: 375px) {
    .commits__slider {
        height: 300px;
    }
}