.commits__slider {
    display: flex;
    justify-content: center;
    height: 356px;

}

@media screen and (max-width: 768px) {
    .commits__slider {
        height: 295px;
    }
}

@media screen and (max-width: 375px) {
    .commits__slider {
        height: 300px;
    }
}