.about-me__stack {
    font-family: 'Roboto Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.about-me__stack ul {
    margin-bottom: 0;
}