@import "./__photo/about-me__photo.css";
@import "./__description/about-me__description.css";
@import "./__title/about-me__title.css";
@import "./__paragraph/about-me__paragraph.css";

.about-me {
    display: flex;
    padding: 80px 104px
}

@media screen and (max-width: 768px) {
    .about-me {
        align-items: center;
        padding: 40px;
    }
}

@media screen and (max-width: 320px) {
    .about-me {
        padding: 32px 16px;
    }
}